body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50pc;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{ /* buttons flash when hovered over */
    background-color: hsl(0, 0%, 40%);
}

button:active{ /* buttons flash when clicked */
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(225, 72.5%, 56.9%);
}

.operator-btn:hover{
    background-color: hsl(225, 72.7%, 66.9%);
}

.operator-btn:active{
    background-color: hsl(225, 73.7%, 76.9%);
}